body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  .container {
    margin-bottom: 20px; /* Add white space below the table */
  }
  header {
    width: 100%;
    background-color: #ea454c;
    color: white;
    padding: 10px 20px;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
  }
  h1 {
    padding-left: 450px;
    padding-top: 10px;
    padding-right: 0;
  }
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .filters select {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 80%; /* Ensure the select box does not overflow */
    box-sizing: border-box;
  }
  .filters select option:hover {
    background-color: #ea454c;
    color: #fff;
  }
  .hidden {
    display: none;
  }
  .table-responsive {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
}
  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 120px;
    /* table-layout: fixed; */
  }
  thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}
  table,
  th,
  td {
    border: 1px solid #000;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  th {
    background-color: #ba0c0c;
    color: white;
  }
  @media (max-width: 1024px) {
    h1 {
      padding-left: 365px;
      padding-top: 80px;
    }
    .filters {
      margin-left: 1px;
    }
    table {
      margin-left: 100px;
    }
  }
  @media (max-width: 768px) {
    /* .toggle-btn {
      display: block;
    }
  
    .sidebar {
      display: none;
    }
  
    .sidebar.show {
      display: block;
      height: 250px;
    }
  
    .sidebar a {
      padding: 10px;
      font-size: 10px;
      color: #000;
    }
  
    .content {
      margin-left: 0;
    }
  
    .hdr {
      align-items: flex-start;
    }
  
    .profile,
    .header-center,
    .header-right {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }
  
    .header-center {
      text-align: center;
    }
  
    .profile img {
      width: 30px;
      height: 30px;
    }
  
    .sidebar a {
      font-size: 16px;
    }
  
    .header-right button {
      font-size: 12px;
    } */
  
    h1 {
      padding-left: 240px;
      padding-top: 100px;
      font-size: 24px;
    }
    .filters {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
    .filters select {
      width: 100%;
      margin-top: 5px;
      padding: 8px;
    }
    table {
      width: 90%;
      margin-left: 32px;
    }
    th,
    td {
      font-size: 14px;
      padding: 8px;
    }
  }
  @media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;;
      padding-left: 120px;
      padding-top: 100px;
    }
    .filters {
      margin-left: 0;
      width: 100%;
      font-size: 20px;
    }
    .filters select {
      width: 100%;
      margin-top: 5px;
      padding: 8px;
    }
    .filters select option {
      max-width: 10px; /* Adjust this value as needed */
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    table {
      width: 100%;
      margin-left: 0;
    }
    th,
    td {
      font-size: 12px;
      padding: 6px;
    }
  }
  