.container1 {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.summary {
    margin-top: 20px;
    line-height: 1.9;
}

.summary p {
    font-size: 14px;
    margin: 5px 0;
}

.calendar {
    padding: 20px;
}

.calendar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    width: 14.28%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

.calendar .working-day {
    background-color: #e0f7e0;
}

.calendar .partial-leave {
    background-color: #ffe0e0;
}

.calendar .full-leave {
    background-color: #ffffe0;
}

.legend-container {
    display: flex;
    gap: 20px; /* Space between legend items */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legend-item1 {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.legend-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 3px; /* Slight rounding for better aesthetics */
}

.legend-box.working-day {
    background-color: #e0f7e0; /* Light green */
}

.legend-box.partial-leave {
    background-color: #ffffe0;/* Light yellow */
}

.legend-box.full-leave {
    
    background-color:  #ffe0e0;/* Light red */ 
}