.container4 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(243, 3, 3, 0.1);
}
h1 {
    text-align: center;

}
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.filters select {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #000; /* Black borders for the table */
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #ba0c0c;
    color: white;
}