body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    width: 100%;
    background-color: #EA454C;
    color: white;
    padding: 10px 20px;
    z-index: 1001;
  }
  
  .hdr {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .profile span {
    margin-right: 20px;
  }

  .navbar-brand {
    color: #ddd;
  }
  
  .header-right button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem; /* Adjust font size as needed */
    cursor: pointer;
  }
  
  .sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    background-color: #EA454C;
    padding-top: 20px;
    z-index: 1000;
    transition: width 0.3s;
  }

  .contents {
    padding-top: 120px;
  }
  
  .sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
    color: #000;
  }
  
  .content {
    margin-left: 250px; /* Adjusted to be beside the sidebar */
    margin-top: 60px; /* Adjusted to be below the header */
    padding: 20px;
  }
  
  .navbar-toggler {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 0;
      top: 0;
    }
    .content {
      margin-left: 0;
    }
  }
  