
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-image {
  background-image: url("../assets/home 1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  padding-left: 20px; 
  position: relative;
}

.top-center {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.text-responsive {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding-left: 50px;
  position: relative; 
}

.text-responsive1 {
  font-size: 3rem;
}

.text-responsive2 {
  margin-top: -25px;
  font-size: 20px;
  opacity: 50%;
}

.login-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; 
  text-align: center;
}

.login-button:hover {
  background-color: darkgray; 
}

@media (max-width: 768px) {
  .bg-image {
    background-position: top;
    background-image: url("../assets/home\ 1\ mob.jpg");
  }

  .bg-image p {
    align-self: flex-start; 
    margin-left: 0;
  }

  .text-responsive1 {
    font-size: 2rem;
  }

  .text-responsive2 {
    font-size: 13px;
  }

  .text-responsive3 {
    font-size: 13px;
    top: calc(100% - 20px); 
  }

  .login-button {
    font-size: 14px; 
    padding: 8px 16px;
  }
}
