body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.header {
    position: relative;
}

.profile img {
    width: 100px; 
    height: 100px; 
    border-radius: 15px; /* Rounded square */
}

.details p {
    margin: 25px;
}

.buttons {
    text-align: right;
}

.buttons .btn {
    width: 100px;
    margin-bottom: 10px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
