.container {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sid {
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
  width: 30%;
  box-sizing: border-box;
}

.sid h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sid label {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.sid select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.summary {
  margin-top: 20px;
  line-height: 1.9;
}

.summary p {
  font-size: 14px;
  margin: 5px 0;
}

.calendar {
  padding: 20px;
  width: 70%;
  box-sizing: border-box;
}

.calendar h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  width: 14.28%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #f9f9f9;
}

.calendar .working-day {
  background-color: #e0f7e0;
}

.calendar .partial-leave {
  background-color: #ffffe0;
}

.calendar .full-leave {
  background-color: #ffe0e0;
}

.legend-container {
  display: flex;
  gap: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.legend-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.legend-box.working-day {
  background-color: #e0f7e0;
}

.legend-box.partial-leave {
  background-color: #ffffe0;
}

.legend-box.full-leave {
  background-color: #ffe0e0;
}
